
{% for image in images %}
<div style="display: inline-block">
    <a href="{{image.url}}" rel="noreferrer">
        <img src="{% url 'views:image' image.filename %}" title="{{image.scraper}}: {{image.score}}">
    </a>
    <div>
        {{image.score}}
        <a class="similar-click" data-pk="{{image.pk}}" style="font-size: .75rem; cursor: pointer">similar</a>
        <!--<a href="{% url 'views:same' image.pk %}?count={{param_count}}" style="font-size: .75rem">similar</a>-->
    </div>
</div>
{% endfor %}

<script>
    for (const e of document.querySelectorAll(".similar-click")) {
        e.addEventListener("click", (e) => {
            document.querySelector('input[name="sim"]').value = e.target.getAttribute("data-pk");
            document.querySelector('form button').click();
        })
    }
</script>