{% extends "./base.html" %}

{% block content %}

<form>
    <div>
        <label>
            natural language prompt
            <input type="text" name="q" value="{{param_q}}" style="width: 60%">
        </label>
    </div>
    <div>
        <label>
            count
            <input type="number" name="count" value="{{param_count}}" min="1">
        </label>
    </div>
    <button type="submit">search</button>
</form>

<hr>

{% for image in images %}
    <div style="display: inline-block">
        <a href="{{image.url}}" rel="noreferrer">
            <img src="image/{{image.pk}}.{{image.extension}}" title="{{image.scraper}}: {{image.score}}">
        </a>
        <div>{{image.score}}</div>
    </div>
{% endfor %}


{% endblock %}
