{% extends "./base.html" %}

{% block content %}

{% csrf_token %}

<div class="search"
     data-url="{% url 'views:search' %}"
     data-image-pk-url="{% url 'views:image-pk' 0 %}"
>
    <div class="row">
        <div class="icon delete">X</div>
        <div class="levels">
            <div class="level">-5</div>
            <div class="level">-4</div>
            <div class="level">-3</div>
            <div class="level">-2</div>
            <div class="level">-1</div>
            <div class="level">0</div>
            <div class="level">1</div>
            <div class="level">2</div>
            <div class="level">3</div>
            <div class="level selected">4</div>
            <div class="level">5</div>
        </div>
        <div class="input">
            <input type="text" value="a beautiful sunset">
        </div>
    </div>

    <div class="row">
        <div class="icon delete">X</div>
        <div class="levels">
            <div class="level">-5</div>
            <div class="level">-4</div>
            <div class="level">-3</div>
            <div class="level">-2</div>
            <div class="level">-1</div>
            <div class="level">0</div>
            <div class="level">1</div>
            <div class="level">2</div>
            <div class="level">3</div>
            <div class="level">4</div>
            <div class="level">5</div>
        </div>
        <div class="input">
            <input type="text">
        </div>
    </div>

    <div class="row">
        <div class="icon add">+</div>
    </div>
</div>

<hr>

<div class="images"></div>


{% endblock %}
